{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{corgi.image}}" alt="{{corgi.name}}" />
</div>
<div class="detail__name">
    {% if corgi.verified_corgi %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>Verified Corgi</span>
    </div>
    {% endif %}
    <h1 class="title">{{corgi.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'corgi_update' corgi.pk %}" class="button is-info">Update
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'corgi_delete' corgi.pk %}" class="button is-danger">Delete
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__dogs mb-5">
        <h3 class="name is-3">Dogs</h3>
        <form class="mb-5" action="{% url 'dog_create' corgi.pk %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="text" name="name" placeholder="Dog's Name" required/>
                </div>
                <div class="control">
                    <input class="input" type="number" name="weight" placeholder="Dog's Weight" required>
                </div>
                <div class="control">
                    <input class="input" type="text" name="color" placeholder="Dog's Color" required>
                </div>
                <div class="control">
                    <input class="button is-primary" type="submit"  value="Add a Dog"/>
                </div>
            </div>
        </form>

        {% for dog in corgi.dogs.all %}
        <div class="dog">
            <span>{{forloop.counter}}</span>
            <span><b>{{dog.name}}</b></span>
            <span>{{dog.weight}}</span>
            <span>{{dog.color}}</span>
            <span>{{dog.gender}}</span>
            <span>
                <div class="dropdown">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>Add To Doglist</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% for doglist in doglists %}
                                <a href="{% url 'doglist_dog_assoc' doglist.pk dog.pk %}?assoc=add" class="dropdown-item">
                                    {{doglist.name}}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </span>
        </div>
        {% empty %}
        <article class="messsage">
            <div class="message-header">
                <p>No Dogs Are Registered</p>
            </div>
        </article>
        {% endfor %}
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{corgi.bio}}</p>
    </div>
</div>

{% endblock %}