{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{corgi.image}}" alt="{{corgi.name}}" />
</div>
<div class="detail__name">
    {% if corgi.verified_corgi %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>Verified Corgi</span>
    </div>
    {% endif %}
    <h1 class="title">{{corgi.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'corgi_update' corgi.pk %}" class="button is-info">Update
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'corgi_delete' corgi.pk %}" class="button is-danger">Delete
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__dogs mb-5">
        <h3 class="name is-3">Dogs</h3>
        {% for dog in corgi.dogs.all %}
        <div class="dog">
            <span>{{forloop.counter}}</span>
            <span><b>{{dog.name}}</b></span>
            <span>{{dog.weight}}</span>
            <span>{{dog.color}}</span>
            <span>{{dog.gender}}</span>
        </div>
        {% empty %}
        <article class="messsage">
            <div class="message-header">
                <p>No Dogs Are Registered</p>
            </div>
        </article>
        {% endfor %}
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{corgi.bio}}</p>
    </div>
</div>

{% endblock %}