{% extends 'base.html' %}
{% block title %}
corgi-Home
{% endblock %}
{% block content %}
<div class="home__doglists">
    {% for doglist in doglists %}
        <div class="doglist mb-5">
            <h3 class="title is-3 has-text-success">{{doglist.name}}</h3>
            <hr />
            {% for dog in doglist.dogs.all %}
            <div class="dog">
                <span>{{forloop.counter}}</span>
                <span><b>{{dog.name}}</b></span>
                <span>{{dog.color}}</span>
                <span>
                    <a href="{% url 'doglist_dog_assoc' doglist.pk dog.pk %}?assoc=remove" class="button is-danger is-outlined">
                        <span class="icon is-small">
                            <i class="fas fa-times"></i>
                        </span>
                    </a>
                </span>
            </div>
            {% endfor %}
        </div>
    {% empty %}
        <div class="doglist mb-5">"There are no dogs in this doglist"</div>
    {% endfor %}
</div>
{% endblock %}

